{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives for {{ period | reverse | join(' ') }}{% endblock %}

{% block content %}
<h1>Showing archives for {{ period | reverse | join(' ') }}</h1>

<dl>
{% for article in dates %}
    <div class='article'>
        <div class="content-title">
            <a href="{{ SITEURL }}/{{ article.url }}"><h1>{{ article.title }}</h1></a>
            {% include "metadata.html" %}
        </div>

        <div>{{ article.content }}</div>
        <hr />
    </div>
{% endfor %}
</dl>
{% endblock %}
